.div{
    background-color: rgb(14, 255, 235);
    border: 1px solid transparent;
    border-radius: 0% 10% 0% 10%;
    margin:auto;
    margin-top: 8%;
    width: 20%;
    height: 17em;
    padding-left: 0%;
    padding-right: 0%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}
.div>h1{
    margin: 3%;
    margin-inline-start: 10%;
    margin-inline-end:10%;
}